<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="DangNhap.aspx" timeout="2880"></forms>
    </authentication>
    <authorization>
      <!-- Từ chối tất cả người dùng theo mặc định -->
      <deny users="*"/>
      <!-- Chỉ cho phép vai trò admin truy cập theo mặc định -->
      <allow roles="admin"/>
    </authorization>
  </system.web>
  
  <!-- Cho phép nhân viên truy cập QuanLyHoaDon.aspx -->
  <location path="QuanLyHoaDon.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Cho phép nhân viên truy cập QuanLyCTHD.aspx -->
  <location path="QuanLyCTHD.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
